KMSBackUpCenterService.Forms/Connected Services/FileServiceReference/FileCenterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1412/FileCenterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KMSBackUpCenterService.Model" />
  <xs:element name="POST">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="file" nillable="true" type="xs:base64Binary" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KMSBackUpCenterService.Model" minOccurs="0" name="fileInfo" nillable="true" type="q1:FileInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="POSTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="POSTResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>