KMSBackUpCenterService.Forms/Connected Services/FileServiceReference/FileCenterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/KMSBackUpCenterService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KMSBackUpCenterService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1412/FileCenterService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreationTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CustomerID" type="ser:guid" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Directory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Extension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileMD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSHA256" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastAccessTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastWriteTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lenght" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileInfo" nillable="true" type="tns:FileInfo" />
</xs:schema>